<h1>{{title}}</h1>
<app-g-maps
[people] = "mapPeople"
(sendCoord)= "getCoords($event)"
></app-g-maps>
<p>
    Number of cases : {{ people.length }}
   
</p>
<nav class = "navbar" style = "text-align:center;">
    <input class = "form-control" type = "text" name = "name" [(ngModel)] = "name" (ngModelChange) = "Search()"
        placeholder = "Enter Name to search">
</nav>
<body>
<mat-label>Sort By:</mat-label>
<mat-form-field appearance="fill">
    <mat-select (selectionChange)="sortReportsBy($event)">
      <mat-option *ngFor="let sort of sort" [value]="sort">
        {{sort}}
      </mat-option>
    </mat-select>
</mat-form-field>
<table class="table table-striped table-responsive-md btn-table" >
    <thead>
        <tr>
            <th>Name</th>
            <th>Time</th>
            <th>Place</th>
            <th>Phone Number</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr app-person
        *ngFor = "let people of people" 
        [person_input] = "people"
        (delete) = "onPersonDeleted($event)"
    >
    </tr>
    </tbody>
</table>
<app-add-person [coord] = "mapCoord" [newPlace] = "option"></app-add-person>
</body>
 


